._4-o9{background-image:url(/rsrc.php/v3/yW/r/znC8yYAfM7k.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;display:inline-block;height:14px;opacity:.4;position:absolute;top:20px;transition:opacity .2s;vertical-align:top;width:14px;z-index:4}._5wx3{left:20px}._5wx4{right:20px}._4-o9:hover{opacity:1}

#bootloader_KnxFX{height:42px;}.bootloader_KnxFX{display:block!important;}