._3vnr{border:2px solid #fff;border-radius:50%;border-width:2px}._3vns{background-color:#4080ff;border:2px solid #fff;border-radius:50%;border-width:2px}._3vnt{background-color:#bec2c9;border:2px solid #fff;border-radius:50%;border-width:2px}
._4sjv{display:flex;flex-direction:row;flex-wrap:wrap}._4sju{display:flex;margin-right:6px}
._26lz{display:flex;flex-direction:row;width:100%}._26l-{margin-right:-5px;width:100px}._26l_{width:100px}
._2l1j>div{padding:5px 0 5px 7px}._2l1n{width:100%}._2l1n._58ak{background:none;border:none;padding:4px 8px 4px}._2l1n ._58al{background:none;border:none}._4bb8 ._58ak{background:none;border:none;padding:4px 8px 4px;width:100%}._2l1m ._5q9i{width:90px}._2l1g ._3smo{margin-bottom:2px;margin-left:6px}._2l1g ._3smn{margin-top:-3px}._2l1k{background-image:url(/rsrc.php/v3/yd/r/SA2lr2ubW0H.png);background-repeat:no-repeat;background-size:auto;background-position:0 -67px;height:20px;left:185px;position:absolute;top:40px;width:20px}._1kvx{background-image:url(/rsrc.php/v3/yN/r/gTNQigU1qNW.png);background-repeat:no-repeat;background-size:auto;background-position:0 -86px;height:20px;left:92px;position:absolute;top:40px;width:20px}._2l1h{background-color:#f6f7f9;height:28px}._2l1i{left:13px;position:relative;top:6px}._2l1h,._2l1j>div{border-bottom:1px solid #d3d6db}._2b64{color:#4b4f56;font-size:10px;margin:0 8px 0 8px}._2b63{margin:0 8px 0 8px}._354f{align-items:center;display:flex;flex-direction:row;min-height:24px}._pyw{margin:5px 8px 5px 8px}._2m6x{margin:0 8px 0 8px;width:100%}._pyv{margin:0 8px 0 8px}._2l1g ._572u{border:none}._2l1p{display:inline-block;float:left;padding-left:3px;padding-top:3px}

#bootloader_fPxhE{height:42px;}.bootloader_fPxhE{display:block!important;}